.App {
  color: white;
  background-color: black;
  overflow-x: hidden;
}

* {
  margin: 0;
}

.rows-container {
  margin-top: 2rem;
}

.footer {
  margin-top: 2rem;
  margin-bottom: 0;
  height: 180px;
  width: 100%;
  display: flex;
  padding: 10px;
}

.footer label {
  font-size: 20px;
  width: 100px;
  margin-right: 10px;
  height: 90%;
  padding-top: 60px;
}

.footer img {
  width: 100px;
  height: 90%;
}
